.instr{
    border:2px #000000;
    font-family: 'Russo One', sans-serif;
    position:absolute;
    top:2%;
    left:50%;
  }
  .game-op{
    position:absolute;
    top:40%;
    left:50%;
  }
  .startbtn{
      height:40px;
      width:70px;
      background-color:#ffffff;
      border-radius: 5px;
  }